# Python Language Basics
## Language Semantics
### Indentation, not braces

for x in array: 
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

a = 5; b = 6; c = 7

In [3]:
a = 5; b = 6; c = 7

In [4]:
c

7

#### Everything is an object
#### Comments

In [5]:
a = [1,2,3]

In [6]:
b=a

In [7]:
a.append(4)
b

[1, 2, 3, 4]

Dynamic references, strong types

In [8]:
a = 5
type(a)

int

In [9]:
a = 'foo'
type(a)

str

In [10]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [12]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))   # format(a,b)

a is <class 'float'>, b is <class 'int'>

In [13]:
a = 5
isinstance(a, int)   # a가 int 이냐?

True

In [14]:
a = 5; b = 4.5
isinstance(a, (int, float))   # a가 int, float 둘 중에 하나라도 포함되면 TRUE
isinstance(b, (int, float))

True

Attributes and methods

In [15]:
a = 'foo'

In [16]:
a.capitalize()

'Foo'

In [17]:
a.upper()

'FOO'

In [18]:
getattr(a, 'split')

Duck typing

In [19]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [20]:
isiterable('a string')

True

In [21]:
isiterable([1, 2, 3])

True

In [22]:
isiterable(5)

False

모듈 임포트

In [30]:
# some_module.py 
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [35]:
#  text파일을 생성 후 실행
import some_module

result = some_module.f(5)
result

7

In [34]:
pi = some_module.PI
pi

3.14159

Or equivalently:

In [36]:
from some_module import f, g, PI
result = g(5, PI)
result

8.14159

as 예약어를 사용하면 모듈을 다른 이름으로 임포트할 수 있다.

In [37]:
import some_module as sm 
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

In [38]:
r1

5.14159

In [39]:
r2

9.14159

--------------

In [40]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [41]:
a == c

True

In [42]:
a = None
a is None

True

Mutable and immutable objects
 : 문자열이나 튜플은 변경 불가능하다

In [43]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

Strings

In [44]:
c = """
This is a longer string that
spans multiple lines
"""

In [45]:
 c

'\nThis is a longer string that\nspans multiple lines\n'

In [46]:
c.count('\n')

3

In [47]:
a = 'this is a string'
a[10] = 'f'                  # 못바꿈

TypeError: 'str' object does not support item assignment

In [48]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [49]:
a

'this is a string'

In [50]:
a = 5.6
s = str(a)
print(s)

5.6

In [51]:
s = 'python'
list(s)
s[:3]

'pyt'

In [52]:
s = '12\\34'
print(s)

12\34

In [53]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [54]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [55]:
template = '{0:.2f} {1:s} are worth US${2:d}'  # 소수점 2쨰자리까지 가지고 있는 float,

In [56]:
template

'{0:.2f} {1:s} are worth US${2:d}'

In [57]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

None : 파이썬에서 사용하는 NULL값이다.

In [58]:
def add_and_maybe_multiply(a, b, c=None): 
    result = a + b

    if c is not None:
        result = result * c

    return result

In [59]:
 add_and_maybe_multiply(5,3)

8

In [60]:
 add_and_maybe_multiply(5,3,10)

80

Date and times

In [21]:
from datetime import datetime, date, time
dt = datetime(2011,10,29,20,30,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [24]:
dt.day # 일

29

In [25]:
dt.minute # 분

30

In [26]:
dt.date()

datetime.date(2011, 10, 29)

strftime 메서드는 datetime을 문자열로 만들어준다.

In [27]:
dt.strftime('%m,%d,%y %h:%m')

'10,29,11 Oct:10'

In [29]:
dt2 = datetime(2011,11,15,22,30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [30]:
type(delta)

datetime.timedelta

for loops / 반복문

In [1]:
sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

total

12

In [2]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value ==5:
        break
    total_until_5 += value

In [4]:
total_until_5

13

while loops : 반복해서 문장을 수행해야 할 경우 while문을 사용

In [5]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x// 2

total

504

In [6]:
x

4

In [7]:
256+128+64+32+16+8

504

Pass:  실행할 코드가 없는 것으로 다음 행동을 계속해서 진행합니다.

In [8]:
if x < 0:
    print('negative!')
elif x == 0:

# TODO: put something smart here
 pass
else:
    print('positive!')

positive!

range 
  :연속된 숫자(정수)를 만들어주는 range() 함수

In [9]:
range(10)

range(0, 10)

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
list(range(5, 1, -1)) # range는 마지막 값 바로 이전 정수까지의 값을 반환한다.

[5, 4, 3, 2]

In [13]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [14]:
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [17]:
sum  # range 함수는 임의 크기로 값을 생성해낼 수 있지만 메모리 사용량은 매우 적다

2333416667

Ternary expressions:
    :삼항 표현식

In [20]:
x = 5
'Non-negative' if x >= 0 else 'Negative' # 삼항 표현식은 id-else 블록처럼 조건이 참인 경우의 표현식만 실행한다.

'Non-negative'